/*
    Body
 */
 body {
    margin: 0;
    background-color: #1A1A1D;
    color: white;
    font-family: "Courier New", Courier, monospace;
    overflow: hidden;
}
/*
    index.html
 */
#intro {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
}



#about {
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #4E4E50 ;
}
#experiences {
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #1A1A1D;
}
#projects {
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #4E4E50 ;
}

h1.h1-intro {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 2rem;
    color: #379683;

}
div.job {
  background-color: transparent;
  width: 500px;
    height: 200px;
  padding: 25px;
  border: 10px solid #6f2232;
  margin: 100px;
}

/*
    Side Navigation Bar
 */

.sidenav {
  width: 230px;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: transparent;
    border: 10px solid #6f2232;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2196F3;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}

/*
    Navigation Bar
 */
.btn {
  border: 2px solid #6f2232;
  background-color: transparent;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
}
ul.nav {
    margin: 0;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #6f2232;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
    height: 60px;
}
li.navList {
    margin: 0;
  float: right;
}

li.navList a {
    margin: 0;
  display: block;
  color: white;
  text-align: center;
  padding: 22px 24px;
  text-decoration: none;
}

li.navList a.active {
    margin: 0;
  background-color: #1A1A1D;
  color: white;
}

#left {
    float: left;
}

li.navList a:hover:not(.active) {
  background-color: #4E4E50;
  color: #6f2232;
}